.button {
  width: 100%;
  padding-block: calc(var(--spacing-xs) * 1.5);
  padding-inline: var(--spacing-md);
  font-size: var(--font-sm);
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  transition:
    background-color 0.2s,
    color 0.2s;
}

.primary {
  background-color: var(--color-gray-60);
  border: 1px solid var(--color-gray-60);
  color: var(--color-white);
}

.secondary {
  background-color: var(--color-gray-05);
  border: 1px solid var(--color-gray-60);
  color: var(--color-gray-60);
}

@media (any-hover: hover) {
  .primary:hover {
    background-color: var(--color-hover);
    border: 1px solid var(--color-hover);
  }
  .secondary:hover {
    background-color: var(--color-hover);
    border: 1px solid var(--color-hover);
    color: var(--color-white);
  }
}
