/* 共通のベーススタイル */
.container {
  padding-block: calc(var(--spacing-4xl) * 1.2) var(--spacing-3xl);
  padding-inline: var(--spacing-lg);

  @media (min-width: 768px) {
    margin-inline: auto;
    padding-inline: var(--spacing-2xl);
    padding-block: calc(var(--spacing-4xl) * 1.2) var(--spacing-3xl);
    max-width: var(--container-max-width);
  }
}
