.reserve-wrapper {
  &:not(:last-child) {
    margin-block-end: var(--spacing-xl);
  }
}

.reserve-subtitle {
  margin-block-end: var(--spacing-sm);
  font-size: var(--font-lg);
  font-weight: var(--font-weight-regular);
  letter-spacing: 0.01em;
  text-transform: capitalize;
  font-family: var(--font-figtree);

  @media (min-width: 768px) {
    padding-inline: var(--spacing-2xl);
  }
}

.form-group {
  &:not(:last-child) {
    margin-block-end: var(--spacing-xl);
  }
}

.select-wrapper {
  width: 100%;

  @media (min-width: 768px) {
    padding-inline: var(--spacing-2xl);
  }
}

.reserve-button-wrapper {
  display: grid;
  place-items: center;
  max-width: calc(var(--spacing-3xl) * 4);
  margin-inline: auto;

  @media (min-width: 768px) {
    max-width: calc(var(--spacing-3xl) * 4);
    margin-inline: auto;
  }
}

/* reserve-button-wrapperの手前の要素に自動的にマージンを適用 */
*:has(+ .reserve-button-wrapper) {
  margin-block-end: var(--spacing-4xl);
}

.reserve-button {
  width: 100%;
  padding-block: var(--spacing-sm);
  padding-inline: var(--spacing-md);
  font-size: var(--font-md);
  color: var(--color-white);
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  background-color: var(--color-select);
  cursor: pointer;
  border: none;
  transition: background-color 0.2s;

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--color-hover);
    }
  }
}
