.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: calc(var(--spacing-2xl) + var(--spacing-xxs));
  z-index: 1000;
  mix-blend-mode: exclusion;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: end;
    padding-inline: var(--spacing-xl);
    max-width: 100vw;
    margin-inline: auto;
    /* border-inline: 1px solid #111; */
  }
}

.logo {
  position: absolute;
  left: var(--spacing-sm);
  top: 100%;
  transform: translateY(-50%);
  transform-origin: top left;
  z-index: 10;
  filter: brightness(0) invert(1);
  transition:
    transform 0.2s ease-out,
    top 0.2s ease-out;
  will-change: transform, top;
  margin-block: 0;

  @media (min-width: 768px) {
    left: 5vw;
    transform: translateY(calc(-50% * 1.4)) scale(1.4);
  }
}

.logo-scrolled {
  transform: translateY(-50%) scale(0.7);
  top: 75%;

  @media (min-width: 768px) {
    transform: translateY(-50%) scale(1);
  }
}

.logo-title {
  margin: 0;
}

.logo-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.menu-button {
  position: fixed;
  top: var(--spacing-xs);
  right: var(--spacing-sm);
  z-index: 1002;
  border: none;
  display: grid;
  align-content: center;
  gap: var(--spacing-xs);
  padding: var(--spacing-xxs);
  width: calc(var(--spacing-2xl) - var(--spacing-xxs));
  height: calc(var(--spacing-2xl) - var(--spacing-xxs));
  mix-blend-mode: exclusion;

  @media (min-width: 768px) {
    display: none;
  }

  &.is-open {
    gap: 0;

    & .menu-line:nth-child(1) {
      transform: rotate(-45deg);
    }

    & .menu-line:nth-child(2) {
      transform: rotate(45deg);
      width: 100%;
    }
  }
}

.menu-line {
  height: 1px;
  width: 100%;
  transition: transform 0.2s ease-out;
  background-color: var(--color-gray-60-blend);
  transform-origin: center;
  will-change: transform;

  &:nth-child(2) {
    width: 75%;
    justify-self: end;
  }
}

.sns-links {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  gap: 2.5rem;
}

.header-nav {
  display: none;

  @media (min-width: 768px) {
    position: relative;
    right: 5vw;
    display: block;
    justify-self: end;
    align-self: center;
  }
}

.header-nav-list {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  gap: var(--spacing-xl);
  list-style: none;
  margin: 0;
  padding: 0;

  & a {
    font-family: var(--font-figtree);
    font-size: var(--font-xs);
    font-weight: var(--font-weight-regular);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-black-blend);
    transition: color 0.2s ease;

    &:focus-visible {
      color: #f938aa;
    }

    @media (any-hover: hover) {
      &:hover {
        color: #f938aa;
      }
    }
  }
}

.header-reserve-button {
  position: fixed;
  top: var(--spacing-sm);
  right: var(--spacing-4xl);
  z-index: 1001;
  mix-blend-mode: exclusion;

  @media (min-width: 768px) {
    display: none;
  }

  & button {
    padding-block: var(--spacing-xxs);
    padding-inline: var(--spacing-xs);
    font-size: var(--font-xxs);
    border: 1px solid var(--color-gray-60-blend);
    background-color: var(--color-gray-60-blend);

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--color-accent-blend);
        border-color: var(--color-accent-blend);
        color: #000;
      }
    }
  }
}
