.container {
  padding-block: var(--spacing-3xl) var(--spacing-2xl);
  padding-inline: var(--spacing-lg);
}

.article {
  margin-block-end: var(--spacing-2xl);
}

.header {
  display: grid;
  grid-auto-flow: row;
  gap: var(--spacing-xxs);
  margin-block-end: var(--spacing-xs);
  text-align: left;
}

.section-title {
  margin-block-end: 0;
  padding-block: var(--spacing-xl) 0;
  font-size: var(--font-2xl);
  font-weight: var(--font-weight-regular);
  color: var(--color-gray-60);
  text-align: left;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.date {
  font-size: var(--font-xs);
  color: var(--color-gray-30);
}

.main-image-wrapper {
  margin-block-end: var(--spacing-xl);
}

.main-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.content {
  font-size: var(--font-sm);
  line-height: 2;

  & p:not(:last-child) {
    margin-block-end: var(--spacing-lg);
  }

  & ul {
    list-style-position: outside;
    padding-inline-start: var(--spacing-md);
    margin-block-end: var(--spacing-xl);
  }

  & li {
    margin-block-end: var(--spacing-sm);
    list-style-type: disc;
    line-height: 1.6;
  }
}

.wrapper {
  margin-block-end: var(--spacing-2xl);
}

.subtitle {
  font-size: var(--font-xl);
  font-weight: var(--font-weight-regular);
  margin-block-end: var(--spacing-md);
  border-block-end: 1px solid var(--color-gray-20);
  padding-block-end: var(--spacing-xs);
}

.pagination {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
}

.prev,
.next {
  font-family: var(--font-figtree);
  font-size: var(--font-sm);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.3em;
}

.prev {
  justify-self: start;
}

.next {
  justify-self: end;
}

.disabled {
  color: var(--color-gray-25);
  pointer-events: none;
}
