.staff-list {
  display: grid;
  grid-auto-flow: row;
  gap: var(--spacing-3xl);
}

.staff-card {
  display: grid;
  grid-auto-flow: row;
  place-items: center;
  text-align: center;
  gap: var(--spacing-sm);
}

.image-wrapper {
  aspect-ratio: 160 / 213;
  width: 8rem;
  overflow: hidden;
  position: relative;

  @media (min-width: 768px) {
    width: 9rem;
  }
}

.staff-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
  transition: clip-path 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);

  &.animate {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.staff-info {
  display: grid;
  grid-auto-flow: row;
  gap: var(--spacing-xxs);
}

.staff-name {
  font-family: var(--font-figtree);
  font-size: var(--font-md);
  font-weight: var(--font-weight-regular);
  text-transform: capitalize;
  opacity: 0;
  transform: translateY(15px);
  transition:
    opacity 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    transform 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);

  &.animate {
    opacity: 1;
    transform: translateY(0);
  }
}

.staff-title {
  font-family: var(--font-playfair-italic);
  font-style: italic;
  font-size: var(--font-xs);
  color: var(--color-gray-30);
  line-height: 1.2;
  opacity: 0;
  transform: translateY(12px);
  transition:
    opacity 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    transform 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);

  &.animate {
    opacity: 1;
    transform: translateY(0);
  }
}

.staff-specialty {
  font-family: var(--font-playfair-italic);
  font-style: italic;
  font-size: var(--font-xxs);
  color: var(--color-gray-30);
  line-height: 1.2;
  opacity: 0;
  transform: translateY(8px);
  transition:
    opacity 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    transform 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);

  &.animate {
    opacity: 1;
    transform: translateY(0);
  }
}
